USE [master]
GO
/****** Object:  Database [QuanLyCaPhe]    Script Date: 13-Dec-18 9:55:29 PM ******/
CREATE DATABASE [QuanLyCaPhe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCaPhe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuanLyCaPhe.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyCaPhe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuanLyCaPhe_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCaPhe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCaPhe]
GO
/****** Object:  UserDefinedFunction [dbo].[fuConvertToUnsign1]    Script Date: 13-Dec-18 9:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fuConvertToUnsign1] ( @strInput NVARCHAR(4000) ) RETURNS NVARCHAR(4000) AS BEGIN IF @strInput IS NULL RETURN @strInput IF @strInput = '' RETURN @strInput DECLARE @RT NVARCHAR(4000) DECLARE @SIGN_CHARS NCHAR(136) DECLARE @UNSIGN_CHARS NCHAR (136) SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệế ìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵý ĂÂĐÊÔƠƯÀẢÃẠÁẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍ ÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ' +NCHAR(272)+ NCHAR(208) SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeee iiiiiooooooooooooooouuuuuuuuuuyyyyy AADEOOUAAAAAAAAAAAAAAAEEEEEEEEEEIIIII OOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD' DECLARE @COUNTER int DECLARE @COUNTER1 int SET @COUNTER = 1 WHILE (@COUNTER <=LEN(@strInput)) BEGIN SET @COUNTER1 = 1 WHILE (@COUNTER1 <=LEN(@SIGN_CHARS)+1) BEGIN IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) = UNICODE(SUBSTRING(@strInput,@COUNTER ,1) ) BEGIN IF @COUNTER=1 SET @strInput = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)-1) ELSE SET @strInput = SUBSTRING(@strInput, 1, @COUNTER-1) +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)- @COUNTER) BREAK END SET @COUNTER1 = @COUNTER1 +1 END SET @COUNTER = @COUNTER +1 END SET @strInput = replace(@strInput,' ','-') RETURN @strInput END
GO
/****** Object:  Table [dbo].[Account]    Script Date: 13-Dec-18 9:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DISPLAYNAME] [nvarchar](100) NOT NULL,
	[USERNAME] [nvarchar](100) NOT NULL,
	[MATKHAU] [nvarchar](100) NOT NULL,
	[LOAI] [int] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bill]    Script Date: 13-Dec-18 9:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATECHECKIN] [datetime] NOT NULL,
	[DATECHECKOUT] [datetime] NULL,
	[IDTABLE] [int] NOT NULL,
	[TINHTRANG] [int] NOT NULL CONSTRAINT [DF__Bill__TINHTRANG__1DE57479]  DEFAULT ((0)),
	[DISCOUNT] [int] NULL,
	[TOTALPRICE] [float] NULL,
 CONSTRAINT [PK__Bill__3214EC270FCCE9CF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BillInfo]    Script Date: 13-Dec-18 9:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDBILL] [int] NOT NULL,
	[IDFOOD] [int] NOT NULL,
	[COUNT] [int] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Food]    Script Date: 13-Dec-18 9:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[IDCATEGORY] [int] NOT NULL,
	[PRICE] [int] NOT NULL DEFAULT ('0'),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FoodCategory]    Script Date: 13-Dec-18 9:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodCategory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL DEFAULT (N'Chưa đặt tên'),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TableFood]    Script Date: 13-Dec-18 9:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableFood](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL DEFAULT (N'Bàn chưa có tên'),
	[TINHTRANG] [nvarchar](100) NOT NULL CONSTRAINT [DF__TableFood__TINHT__117F9D94]  DEFAULT (N'Trống'),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([ID], [DISPLAYNAME], [USERNAME], [MATKHAU], [LOAI]) VALUES (1, N'Huỳnh Nhựt Long', N'admin', N'33354741122871651676713774147412831195', 1)
INSERT [dbo].[Account] ([ID], [DISPLAYNAME], [USERNAME], [MATKHAU], [LOAI]) VALUES (2, N'Nguyễn Trung Hiếu', N'trunghieu', N'3244185981728979115075721453575112', 0)
INSERT [dbo].[Account] ([ID], [DISPLAYNAME], [USERNAME], [MATKHAU], [LOAI]) VALUES (3, N'Mai Huy', N'maihuy', N'3244185981728979115075721453575112', 0)
SET IDENTITY_INSERT [dbo].[Account] OFF
SET IDENTITY_INSERT [dbo].[Bill] ON 

INSERT [dbo].[Bill] ([ID], [DATECHECKIN], [DATECHECKOUT], [IDTABLE], [TINHTRANG], [DISCOUNT], [TOTALPRICE]) VALUES (47, CAST(N'2018-11-18 00:00:00.000' AS DateTime), CAST(N'2018-11-18 00:00:00.000' AS DateTime), 1, 1, 0, 45000)
INSERT [dbo].[Bill] ([ID], [DATECHECKIN], [DATECHECKOUT], [IDTABLE], [TINHTRANG], [DISCOUNT], [TOTALPRICE]) VALUES (48, CAST(N'2018-11-19 00:00:00.000' AS DateTime), CAST(N'2018-11-20 00:00:00.000' AS DateTime), 1, 1, 0, 45000)
INSERT [dbo].[Bill] ([ID], [DATECHECKIN], [DATECHECKOUT], [IDTABLE], [TINHTRANG], [DISCOUNT], [TOTALPRICE]) VALUES (49, CAST(N'2018-11-21 00:00:00.000' AS DateTime), CAST(N'2018-11-21 00:00:00.000' AS DateTime), 2, 1, 0, 55000)
GO
SET IDENTITY_INSERT [dbo].[Bill] OFF
SET IDENTITY_INSERT [dbo].[BillInfo] ON 

INSERT [dbo].[BillInfo] ([ID], [IDBILL], [IDFOOD], [COUNT]) VALUES (44, 47, 1, 4)
INSERT [dbo].[BillInfo] ([ID], [IDBILL], [IDFOOD], [COUNT]) VALUES (52, 48, 1, 4)
INSERT [dbo].[BillInfo] ([ID], [IDBILL], [IDFOOD], [COUNT]) VALUES (53, 49, 6, 2)
GO
SET IDENTITY_INSERT [dbo].[BillInfo] OFF
SET IDENTITY_INSERT [dbo].[Food] ON 

INSERT [dbo].[Food] ([ID], [NAME], [IDCATEGORY], [PRICE]) VALUES (1, N'AMERICANO', 1, 45000)
INSERT [dbo].[Food] ([ID], [NAME], [IDCATEGORY], [PRICE]) VALUES (2, N'CAPPUCCINO', 1, 55000)
INSERT [dbo].[Food] ([ID], [NAME], [IDCATEGORY], [PRICE]) VALUES (3, N'CARAMEL MACCHIATO', 1, 65000)
SET IDENTITY_INSERT [dbo].[Food] OFF
SET IDENTITY_INSERT [dbo].[FoodCategory] ON 

INSERT [dbo].[FoodCategory] ([ID], [NAME]) VALUES (1, N'ESPRESSO & COFFEE
')
INSERT [dbo].[FoodCategory] ([ID], [NAME]) VALUES (2, N'ICE BLENDED COFFEE
')
INSERT [dbo].[FoodCategory] ([ID], [NAME]) VALUES (3, N'SPECIAL TEA
')
SET IDENTITY_INSERT [dbo].[FoodCategory] OFF
SET IDENTITY_INSERT [dbo].[TableFood] ON 

INSERT [dbo].[TableFood] ([ID], [NAME], [TINHTRANG]) VALUES (1, N'Bàn 1', N'Trống')
INSERT [dbo].[TableFood] ([ID], [NAME], [TINHTRANG]) VALUES (2, N'Bàn 2', N'Có người')
INSERT [dbo].[TableFood] ([ID], [NAME], [TINHTRANG]) VALUES (3, N'Bàn 3', N'Trống')
SET IDENTITY_INSERT [dbo].[TableFood] OFF
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK__Bill__TINHTRANG__1ED998B2] FOREIGN KEY([IDTABLE])
REFERENCES [dbo].[TableFood] ([ID])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK__Bill__TINHTRANG__1ED998B2]
GO
ALTER TABLE [dbo].[BillInfo]  WITH CHECK ADD  CONSTRAINT [FK__BillInfo__count__22AA2996] FOREIGN KEY([IDBILL])
REFERENCES [dbo].[Bill] ([ID])
GO
ALTER TABLE [dbo].[BillInfo] CHECK CONSTRAINT [FK__BillInfo__count__22AA2996]
GO
ALTER TABLE [dbo].[BillInfo]  WITH CHECK ADD FOREIGN KEY([IDFOOD])
REFERENCES [dbo].[Food] ([ID])
GO
ALTER TABLE [dbo].[Food]  WITH CHECK ADD FOREIGN KEY([IDCATEGORY])
REFERENCES [dbo].[FoodCategory] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAccountByUserName]    Script Date: 13-Dec-18 9:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GetAccountByUserName] 
@userName nvarchar(100)
AS
BEGIN
SELECT * FROM dbo.Account WHERE USERNAME=@userName
END

GO
/****** Object:  StoredProcedure [dbo].[USP_GetListBillByDate]    Script Date: 13-Dec-18 9:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetListBillByDate]
@checkIn date, @checkOut date
AS
BEGIN
	SELECT  b.ID AS [ID],t.NAME AS[Tên bàn], b.TOTALPRICE AS[Tổng tiền], b.DATECHECKIN AS[Ngày vào], b.DATECHECKOUT AS[Ngày ra], b.DISCOUNT AS[Giảm giá]
	FROM DBO.Bill AS b, dbo.TableFood AS t
	WHERE b.DATECHECKIN>=@checkIn AND b.DATECHECKOUT<=@checkOut AND b.TINHTRANG = 1 AND t.ID = b.IDTABLE
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetListBillByDateAndPage]    Script Date: 13-Dec-18 9:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetListBillByDateAndPage]
@checkIn date, @checkOut date, @page int
AS 
BEGIN
	DECLARE @pageRows INT = 10
	DECLARE @selectRows INT = @pageRows
	DECLARE @exceptRows INT = (@page - 1) * @pageRows
	
	;WITH BillShow AS( SELECT b.ID, t.NAME AS [Tên bàn], b.TOTALPRICE AS [Tổng tiền], b.DATECHECKIN AS [Ngày vào], b.DATECHECKOUT AS [Ngày ra], b.DISCOUNT AS [Giảm giá]
	FROM dbo.Bill AS b,dbo.TableFood AS t
	WHERE b.DATECHECKIN >= @checkIn AND b.DATECHECKOUT <= @checkOut AND b.TINHTRANG = 1
	AND t.ID = b.IDTABLE)
	
	SELECT TOP (@selectRows) * FROM BillShow WHERE BillShow.ID NOT IN (SELECT TOP (@exceptRows) BillShow.ID FROM BillShow)
END

GO
/****** Object:  StoredProcedure [dbo].[USP_GetListBillByDateForReport]    Script Date: 13-Dec-18 9:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetListBillByDateForReport]
@checkIn date, @checkOut date
AS
BEGIN
	SELECT  b.ID ,t.NAME , b.TOTALPRICE , b.DATECHECKIN , b.DATECHECKOUT , b.DISCOUNT FROM DBO.Bill AS b, dbo.TableFood AS t
	WHERE b.DATECHECKIN>=@checkIn AND b.DATECHECKOUT<=@checkOut AND b.TINHTRANG = 1 AND t.ID = b.IDTABLE
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetListMenuByTableForReport]    Script Date: 13-Dec-18 9:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetListMenuByTableForReport]
@int INT
AS
BEGIN
SELECT f.NAME, bi.COUNT, f.PRICE, f.PRICE*bi.COUNT AS TOTALPRICE,b.DATECHECKIN AS CHECKIN, b.DATECHECKOUT AS CHECKOUT FROM dbo.BillInfo AS bi, dbo.Bill AS b, dbo.Food AS f WHERE bi.IDBILL = b.ID AND bi.IDFOOD = f.ID AND b.TINHTRANG = 0 AND b.IDTABLE = @int
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetNumBillByDate]    Script Date: 13-Dec-18 9:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetNumBillByDate]
@checkIn date, @checkOut date
AS 
BEGIN
	SELECT COUNT(*)
	FROM dbo.Bill AS b,dbo.TableFood AS t
	WHERE b.DATECHECKIN >= @checkIn AND b.DATECHECKOUT <= @checkOut AND b.TINHTRANG = 1
	AND t.ID = b.IDTABLE
END

GO
/****** Object:  StoredProcedure [dbo].[USP_GetSumOfListBillByDateForReport]    Script Date: 13-Dec-18 9:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetSumOfListBillByDateForReport]
@checkIn date, @checkOut date
AS
BEGIN
SELECT SUM(TOTALPRICE) 
	FROM DBO.Bill
	WHERE  TINHTRANG = 1 AND DATECHECKIN >=@checkIn AND DATECHECKOUT<=@checkOut
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetTableList]    Script Date: 13-Dec-18 9:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetTableList]
AS SELECT * FROM dbo.TableFood

GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBill]    Script Date: 13-Dec-18 9:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertBill]
@idTable INT
AS
BEGIN
INSERT dbo.Bill
        ( DATECHECKIN ,
          DATECHECKOUT ,
          IDTABLE ,
          TINHTRANG,
		  DISCOUNT
        )
VALUES  ( GETDATE() , -- DATECHECKIN - date
          NULL, -- DATECHECKOUT - date
          @idTable , -- IDTABLE - int
          0,  -- TINHTRANG - int
		  0
        )
END

GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBillInfo]    Script Date: 13-Dec-18 9:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertBillInfo]
@idBill INT, @idFood INT, @count INT
AS
BEGIN
	DECLARE @isExistsBillInfo INT
	DECLARE @foodCount INT =1
	SELECT @isExistsBillInfo = ID, @foodCount = dbo.BillInfo.COUNT FROM dbo.BillInfo WHERE IDBILL = @idBill AND IDFOOD = @idFood
	IF (@isExistsBillInfo > 0)
		BEGIN
			DECLARE @newCount INT = @foodCount + @count
			IF (@newCount >0)
				UPDATE dbo.BillInfo SET count = @foodCount + @count WHERE IDFOOD =@idFood
			ELSE
				DELETE dbo.BillInfo WHERE IDBILL=@idBill AND IDFOOD = @idFood

		END
	ELSE
	BEGIN
		INSERT dbo.BillInfo
        ( IDBILL, IDFOOD, count )
		VALUES  ( @idBill, -- IDBILL - int
				 @idFood, -- IDFOOD - int
				@count  -- count - int
				)	
	END

END
GO
/****** Object:  StoredProcedure [dbo].[USP_Login]    Script Date: 13-Dec-18 9:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_Login]
@userName nvarchar(100), @passWord nvarchar(100)
AS
BEGIN
SELECT * FROM dbo.Account WHERE USERNAME = @userName AND MATKHAU = @passWord
END

GO
/****** Object:  StoredProcedure [dbo].[USP_SwitchTable]    Script Date: 13-Dec-18 9:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_SwitchTable]
@idTable1 INT, @idTable2 INT
AS BEGIN
	DECLARE @idFirstBill INT
	DECLARE @idSecondBill INT
	DECLARE @isFirstTableEmpty INT = 1;
	DECLARE @isSecondTableEmpty INT = 1;
	SELECT @idFirstBill = ID FROM.DBO.Bill WHERE IDTABLE = @idTable1 AND TINHTRANG = 0
	SELECT @idSecondBill = ID FROM DBO.Bill WHERE IDTABLE = @idTable2 AND TINHTRANG = 0
	IF (@idFirstBill IS NULL)
	BEGIN
		INSERT dbo.Bill
				( DATECHECKIN ,
				  DATECHECKOUT ,
				  IDTABLE ,
				  TINHTRANG
				)
		VALUES  ( GETDATE() , -- DATECHECKIN - date
				  NULL, -- DATECHECKOUT - date
				  @idTable1 , -- IDTABLE - int
				  0  -- TINHTRANG - int
				)
		SELECT @idFirstBill = MAX(ID) FROM dbo.Bill	WHERE  IDTABLE = @idTable1 AND TINHTRANG = 0
		
		END
		SELECT @isFirstTableEmpty = COUNT(*) FROM DBO.BillInfo WHERE IDBILL = @idFirstBill
	IF (@idSecondBill IS NULL)
	BEGIN
		INSERT dbo.Bill
				( DATECHECKIN ,
				  DATECHECKOUT ,
				  IDTABLE ,
				  TINHTRANG
				)
		VALUES  ( GETDATE() , -- DATECHECKIN - date
				  NULL, -- DATECHECKOUT - date
				  @idTable2 , -- IDTABLE - int
				  0  -- TINHTRANG - int
				)
		SELECT @idSecondBill = MAX(ID) FROM dbo.Bill	WHERE  IDTABLE = @idTable2 AND TINHTRANG = 0
		END
		SELECT @isSecondTableEmpty = COUNT(*) FROM DBO.BillInfo WHERE IDBILL = @idSecondBill

	SELECT ID INTO DBO.IDBillInfoTable FROM DBO.BillInfo WHERE IDBILL = @idSecondBill
	UPDATE dbo.BillInfo SET IDBILL = @idSecondBill WHERE IDBILL = @idFirstBill
	UPDATE dbo.BillInfo SET IDBILL = @idFirstBill WHERE ID IN (SELECT * FROM DBO.IDBillInfoTable)
	DROP TABLE DBO.IDBillInfoTable
	IF (@isFirstTableEmpty =0)
	UPDATE dbo.TableFood SET TINHTRANG =N'Trống' WHERE ID =@idTable2
	IF (@isSecondTableEmpty =0)
	UPDATE dbo.TableFood SET TINHTRANG =N'Trống' WHERE ID=@idTable1




END

GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateAccount]    Script Date: 13-Dec-18 9:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UpdateAccount]
@userName NVARCHAR(100), @displayName NVARCHAR(100),@password NVARCHAR(100),@newPassword NVARCHAR(100)
AS
BEGIN
	DECLARE @isRightPass INT =0
	SELECT @isRightPass = COUNT(*) FROM dbo.Account WHERE USERNAME = @userName AND MATKHAU = @password
	IF (@isRightPass = 1)
	BEGIN
		IF (@newPassword = NULL OR @newPassword ='')
		BEGIN
			UPDATE dbo.Account SET DISPLAYNAME=@displayName WHERE USERNAME=@userName
		END
		ELSE
			UPDATE dbo.Account SET DISPLAYNAME = @displayName, MATKHAU=@newPassword WHERE USERNAME =@userName
	END
END
GO
/****** Object:  Trigger [dbo].[UTG_UpdateBill]    Script Date: 13-Dec-18 9:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UTG_UpdateBill]
ON [dbo].[Bill] FOR UPDATE
AS
BEGIN
	DECLARE @idBill INT
	SELECT @idBill = Inserted.ID FROM Inserted
	DECLARE @idTable INT
	SELECT @idTable = IDTABLE FROM dbo.Bill WHERE ID = @idBill
	DECLARE @count INT =0
	SELECT @count = COUNT(*) FROM dbo.Bill WHERE IDTABLE =@idTable AND TINHTRANG = 0
	IF (@count =0)
	UPDATE dbo.TableFood SET TINHTRANG =N'Trống' WHERE ID = @idTable
END

GO
/****** Object:  Trigger [dbo].[UTG_DeleteBillInfo]    Script Date: 13-Dec-18 9:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UTG_DeleteBillInfo]
ON [dbo].[BillInfo] FOR DELETE
AS 
BEGIN
	DECLARE @idBillInfo INT
	DECLARE @idBill INT
	SELECT @idBillInfo = ID, @idBill = Deleted.IDBILL FROM Deleted
	DECLARE @idTable INT
	SELECT @idTable = IDTABLE FROM dbo.Bill WHERE ID = @idBill
	DECLARE @count INT =0
	SELECT @count = COUNT(*) FROM dbo.BillInfo AS bi, dbo.Bill AS b WHERE b.ID = bi.IDBILL AND b.ID = @idBill AND b.TINHTRANG =0
	IF (@count =0)
	UPDATE dbo.TableFood SET TINHTRANG = N'Trống' WHERE ID=@idTable
END

GO
/****** Object:  Trigger [dbo].[UTG_UpdateBillInfo]    Script Date: 13-Dec-18 9:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UTG_UpdateBillInfo]
ON [dbo].[BillInfo] FOR INSERT, UPDATE
AS 
BEGIN
	DECLARE @idBill INT
	SELECT @idBill = IDBILL FROM INSERTED
	DECLARE @idTable INT
	SELECT @idTable = IDTABLE FROM dbo.Bill WHERE ID = @idBill AND TINHTRANG = 0
	UPDATE dbo.TableFood SET TINHTRANG = N'Có người' WHERE ID = @idTable
END

GO
USE [master]
GO
